::ng-deep .custom-select-list{
    .mat-mdc-text-field-wrapper{
        border: 1px solid #8383FF;
        border-radius: 4px;
        background-color: transparent;
    }

    .mdc-text-field--focused{
        box-shadow: 0px 0px 4px 0px #8383FF;
    }
    
}

::ng-deep .custom-multi-select{
    .mat-mdc-text-field-wrapper{
        border: 1px solid #8383FF !important;
        border-radius: 4px;
        background-color: transparent;
    }
    .mdc-text-field--focused{
        box-shadow: 0px 0px 4px 0px #8383FF;
    }
}


::ng-deep .cdk-overlay-pane{
    // top: 225px !important;

    .mat-mdc-select-panel{
        border: 1px solid #8383FF;
        border-radius: 4px;
        &::-webkit-scrollbar {
            width: 7px; /* Width of the scrollbar */
          }
        
          &::-webkit-scrollbar-thumb {
            background: #D0D5DD;
            /* Color of the scrollbar thumb */
            border-radius: 10px; /* Border radius of the thumb */
          }
        
          &::-webkit-scrollbar-thumb:hover {
            background-color: #D0D5DD; /* Hover color of the scrollbar thumb */
          }
        
          /* Customize the scrollbar track (optional) */
          &::-webkit-scrollbar-track {
            background-color: #f0f0f0; /* Color of the scrollbar track */
          }
    }

    .mat-mdc-autocomplete-panel{
        border: 1px solid #8383FF;
        border-radius: 4px;

        &::-webkit-scrollbar {
            width: 7px; /* Width of the scrollbar */
          }
        
          &::-webkit-scrollbar-thumb {
            background: #D0D5DD;
            /* Color of the scrollbar thumb */
            border-radius: 10px; /* Border radius of the thumb */
          }
        
          &::-webkit-scrollbar-thumb:hover {
            background-color: #D0D5DD; /* Hover color of the scrollbar thumb */
          }
        
          /* Customize the scrollbar track (optional) */
          &::-webkit-scrollbar-track {
            background-color: #f0f0f0; /* Color of the scrollbar track */
          }
    }
}

::ng-deep .custom-select-list .mdc-evolution-chip__text-label{
    color: #4343C6 !important;
}

::ng-deep .custom-multi-select.mat-form-field.mat-select .mat-select-trigger {
    border: 1px solid #ccc; /* Add a border with the desired color and style */
    border-radius: 4px; /* Add border-radius for rounded corners */
    padding: 4px; /* Adjust padding as needed */
  }